/* style.css */
body{
  background: rgb(245,245,245);
  font-size: 15px;
  text-align: center;
  font-family:sans-serif;
}
h1{
  font-weight: lighter;
  font-size: 25px;
  color:#475A7D;
  text-align: center;
  font-family:sans-serif;
}

h2{
  font-weight: lighter;
  font-size: 19px;
  text-align: center;
  font-family:sans-serif;
}

a {
  color: #4B689B;
}

a:hover {
  text-decoration: none;
  color: purple;
}

#banner{
  text-align: center;
  background-image: url("https://unsplash.it/1300/600?random");
  background-size: cover;;
  padding: 150px;
  color: white;
  text-shadow: 1px 1px 5px black;
}
#banner h1 {
  color: white;
  font-size: 50px;
}

.row{
  text-align:center;
}

#banner p {
  color: white;
  opacity: 0.8;
  font-size: 30px;
  font-weight: lighter;
}
#footer{
  padding: 30px;
  background: #475A7D;
  color: lightgrey;
}